extends ../layout
block hero-unit
    div(style="padding-bottom:20px;background-color:#F5F5F5;margin-bottom:0px;")
        br
        h3(style="color:black;display:flex;justify-content:center;") 공지사항

block content
    .container
        .row(style="margin-top:20px;margin-left:0; margin-right:0;")
            .col-md-2

            .col-md-8
            form(action=`/notice/${notice._id}`, style="width:100%;margin-left:auto;margin-right:auto;")
                .form-group(style="border-top:1px solid black;text-align:center;")
                    label(style="font-size:25px;")= notice.title
                .form-group(style="border-top:1px solid black;text-align:center;")
                    label(style="font-size:20px;")= notice.content                      