extends ../layout
block hero-unit
    #head
        h2 공지사항

block content
    .container
        .row
            br
        .row    
            .col-md-1
            .col-md-10
                ul.list-group(style="width:100%")
                    li.list-group-item 
                        h5 제목 
                    li.list-group-item
                        h6 내용
            .col-md-1