div(style='height:40px;white-space:nowrap;background:#81BEF7;overflow-x:scroll;',id='category_list')
  .ul(style='display:table;margin-left:auto;margin-right:auto;')
    a.nav-link(href=`/seller/${currentUser._id}`,style='color:white;display:inline;') 프로필 관리
    a.nav-link(href=`/seller/order/${currentUser._id}`,style='display:inline;color:white;') 진행 상황 입력
    a.nav-link(href=`/seller/products/${currentUser._id}`,style='color:white;display:inline;') 상품 관리

