extends ../layout
block hero-unit
    #head
        h2 유저 관리

block content
    .container
        .row
            br
        .row    
            .col-md-1
            .col-md-10
                ul.list-group(style="width:100%")
                    li.list-group-item 
                        h5 유저 이메일 : 
                    li.list-group-item
                        a.btn.btn-primary(href="#" style="display:inline-block; margin : 10px;") 정보 확인
                        a.btn.btn-primary(href="#" style="display:inline-block; margin : 10px;") 수정    
                        a.btn.btn-primary(href="#" style="display:inline-block; margin : 10px;") 삭제
            .col-md-1
        .row    
            .col-md-1
            .col-md-10
                ul.list-group(style="width:100%")
                    li.list-group-item 
                        h5 유저 이메일 : 
                    li.list-group-item
                        a.btn.btn-primary(href="#" style="display:inline-block; margin : 10px;") 정보 확인
                        a.btn.btn-primary(href="#" style="display:inline-block; margin : 10px;") 수정    
                        a.btn.btn-primary(href="#" style="display:inline-block; margin : 10px;") 삭제
            .col-md-1